<h1>List of beers {{ option }}</h1>

{% for beer in beers %}
    <ul>
        <li>
            {{ beer.id  }} || {{ beer.name }} || {{ beer.description}}
            {%  if option == 'detail' %}
                {%  if beer.image_url != '' %}
                    || {{ beer.image_url  }}
                {% endif %}
                {%  if beer.tagline != '' %}
                    || {{ beer.tagline  }}
                {% endif %}
                {%  if beer.first_brewed != '' %}
                    || {{ beer.first_brewed  }}
                {% endif %}
            {% endif %}
        </li>
    </ul>
{% endfor %}